<div class="content">
    <app-drops-view [plans]="plans"
        (onSuccessLoad)="dropsLoaded = true; dropsLoadNow = false;" (onErrorLoad)="dropsLoaded = false" [loadNow]="dropsLoadNow"
    ></app-drops-view>

    <app-plans-view (onChangeItems)="plans = $event"
        (onSuccessLoad)="plansLoaded = true; plansLoadNow = false;" (onErrorLoad)="plansLoaded = false" [loadNow]="plansLoadNow"
    ></app-plans-view>

    <app-load-error *ngIf="!plansLoaded || !dropsLoaded" 
        (onRefresh)="onRefreshLoad()"
    ></app-load-error>
</div>






<ngx-spinner
type="ball-clip-rotate"
size="large"
zIndex='1'
[fullScreen]="false"
></ngx-spinner>