app-drops-view, app-plans-view{
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

app-drops-view{
    border-radius: 20px 20px 0px 0px;
}

app-plans-view{
    border-radius: 0px 20px 0px 20px;
    justify-self: start;
    min-width: 430px;
    
}


.content{
    row-gap: 40px;
    grid-template-rows: 1fr auto;
}