<div class="artboard" (click)="onClose.emit();"></div>
<div class="popup">

    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" (click)="onClose.emit()" class="pointer" id="closePopup">
        <path d="M1 13L13 1M1 1L13 13" stroke="#3D3D3D" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <div *ngIf="license; then edit else new"></div>
    <ng-template #new>
        <h3> New key </h3>
    </ng-template>

    <ng-template #edit>
        <h3> Edit key </h3>
    </ng-template>
    
    <form class="data"  [formGroup]="formLicense">

        <label class="select-label">
            Type:
            <select formControlName="status">
                <option value="renewal">Renewal</option>
                <option value="lifetime">Lifetime</option>
            </select>
        </label>

        <label class="renew-date" *ngIf="formLicense.value.status == 'renewal'">
            Renewal date:
            <input type="date" name="date" id="date" formControlName="expiresIn">
        </label>

        <label>
            Nickname:
            <input type="text" id="nickname" autocomplete="off" placeholder="Nickname#8888" formControlName="user">
        </label>

        <label class="activations">
            Activations:
            <input type="text" placeholder="Number" formControlName="quantity">
            <div class="input">
                <input type="checkbox" [(ngModel)]="infinityActivating" [ngModelOptions]="{standalone: true}" (ngModelChange)="onInfinity()" id="infinity"> <label for="infinity" class="pointer">8</label>
            </div>
        </label>

        <div *ngIf="license; then editBtn else newBtn"></div>
        <ng-template #editBtn>
            <button (click)="newLicense()">Generate</button>
        </ng-template>
        <ng-template #newBtn>
            <button (click)="newLicense()">Edit</button>
        </ng-template>
        <span class="error" *ngIf="errorMessage"> {{ errorMessage }} </span>
        <span class="error" *ngIf="successMessage"> {{ successMessage }} </span>

    </form>

    <div class="key">
        <h4>Key:</h4>
        <span class="key" id="key">{{key}}</span>
        <button class="standart-btn border-btn" (click)="copy('key')">
            <img src="/assets/img/icons/copy.svg" alt="copy">
        </button>
    </div>

</div>