@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


$primary-color: #78AFF8;
$danger-color: #F87878;



html,body, app-root{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    display: grid;
    @extend .custom-scroll;

    &::-webkit-scrollbar{ width: 7px !important; }
}
app-login,app-signup{display: grid;}
router-outlet{position: absolute;}
*{font-family: 'Saira', sans-serif; color: #3D3D3D; outline: none;}
ngx-spinner{border-radius: inherit; }
/* ngx-spinner.absolute{position: absolute; width: 100%; height: 100%;} */
ngx-spinner > div{ border-radius: inherit; backdrop-filter: blur(2px); background-color: rgba(120,176,248,0.5) !important;}
ngx-spinner *{ color: white !important; }
app-root > ngx-spinner > div{  backdrop-filter: blur(8px); }


a{text-decoration: none;}
a:focus{outline: auto;}
button:not(:disabled), select, a, input[type="checkbox"], input[type="radio"]{cursor: pointer; box-sizing: border-box; padding: 0;margin: 0;}
button, input{background: none; border: none; padding: 0px; box-sizing: border-box;}
input[type="date"]{cursor: text; text-align: center;}
input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator{display: none; -webkit-appearance: none;}
a, a *, button, button *{transition: .4s;}
div{box-sizing: border-box;}
h1, h2, h3, h4, p{margin: 0px; padding: 0px;}
span.hr{width: 100%; display: inline-block; box-sizing: border-box; border: 0.5px solid #3d3d3d; height: 1px; margin: 0px; background-color: #3d3d3d;}
span.hr.grey{background-color: #898989; border-color: #898989;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




.artboard{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: inherit;
    background: rgba(120, 175, 248, 0.4);
    backdrop-filter: blur(5px);
}
.artboard.dark{background-color: rgba(0, 0, 0, 0.2);}

.relative{position: relative;}
.absolute{position: absolute;}
.pointer{cursor: pointer;}
.border-box{box-sizing: border-box;}

.login-padding{padding: 30px 150px; }
.align-items-center{display: grid; align-items: center;}


.hidden{
    opacity: 0;
    width: 0px;
    height: 0px;
    position: absolute;
}



.background-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;
    border-radius: 15px;
    width: 100%;
    height: 48px;
    
    &.logout{
        font-size: 18px;
        font-weight: 400;
    }
}

.standart-btn{
    @extend .btn;
    border: 1px solid #92DCF5; 
    color: #3D3D3D;
    &:hover{
        background: rgba(120, 175, 248, 0.3);
    }
}

.linear-btn{
    @extend .btn;
    background: linear-gradient(91.44deg, #9DC2F3 0%, #91DCF4 100%);
    color: #FFFFFF;
}



.blue-btn{
    @extend .btn;
    background-color: #78B0F8;
    color: white; 
    border: 1px solid #78B0F8;
    &:hover{
        background-color: #4083DA;
    }

}


.adding-btn{
    @extend .standart-btn;
    height: 36px; 
    font-weight: 400; 
    font-size: 14px; 
    border-radius: 10px; 
    width: auto;
    justify-self: start;
    padding: 0px;

    .plus{
        display: grid; 
        place-items: center; 
        position: relative;
        left: -1px;
        border-radius: inherit; 
        height: inherit; 
        border: inherit; 
        width: 36px; 
        box-sizing: border-box;

        background-color: #78AFF8;
        img{
            filter: brightness(10);
        }
    }

    .text{
        padding: 0px 10px;
    }

    &:hover .plus{
        background-color: #4083DA;
    }

}

.rec-small-btn{
    @extend .btn;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 0px;
}

.rec-big-btn{
    @extend .btn;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    padding: 0px;
}



.outline-primary{
    border: 1px solid $primary-color;
    &.rec-small-btn:hover:not(:disabled), &.rec-big-btn:hover:not(:disabled){
        background-color: $primary-color;
        svg path{
            fill: white;
        }
    }
}

.outline-danger{
    border: 1px solid $danger-color;
    &.rec-small-btn:hover:not(:disabled), &.rec-big-btn:hover:not(:disabled){
        background-color: $danger-color;
        svg path{
            fill: white;
        }
    }
}

.bg-primary{
    background-color: $primary-color;
    &.rec-small-btn:hover:not(:disabled), &.rec-big-btn:hover:not(:disabled){
        background-color: #6999D9;
    }
}

.bg-danger{
    background-color: $danger-color;
    &.rec-small-btn:hover:not(:disabled), &.rec-big-btn:hover:not(:disabled){
        background-color: #D96969;
    }
}






.standart-input{
    border: 1px solid #878787;
    padding-left: 15px;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
}
input.error{
    border-color: #F65151;
}
span.input-error{
    color: #F65151;
    position: absolute;
    line-height: 18px;
    font-size: 12px;
    transform: translate(0%, -50%);
}

div.checkbox-1-2{display: grid; grid-template-columns: auto 1fr; column-gap: 5px; align-items: center;}


h1{font-size: 48px; font-weight: 600; line-height: 76px;}
span.h1-underline{display: grid; text-align: center;}
span.h1-underline span.hr{height: 2px;}
.cactus-name{font-family: 'Montserrat', sans-serif;}
h2.page-name{font-size: 36px; font-weight: 600; line-height: 37px;}




.content{
    height: 100%; 
    border-radius: inherit;
    display: grid;
    row-gap: 15px;

    svg path{
        transition: .3s;
    }

    .header{
        display: grid;
        padding: 0px 30px;
        grid-auto-flow: column;
        column-gap: 20px;
    }
}



.content-in{
    // min-height: 100%;
    padding: 105px 5% 90px;
    background-color: #F4F4F4;
    position: relative;
    display: grid;

    >:last-child{
        border-radius: 20px;
        padding: 20px 30px;
        background-color: white;
        position: relative;
        display: grid;
        grid-template-rows: 1fr auto;

        .artboard{
            border-radius: 20px;
        }
    }
}


.content-in>div:last-child>span.hr{height: 1px;}



.custom-scroll{

    &::-webkit-scrollbar{
        width:5px;
        background-color: #EEEEEE;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb{
        border: none;
        border-radius: 2px;
        width: 3px;
        background: #78AFF8;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: #5da3ff;
    }

    &::-webkit-scrollbar-track{
        border-radius: 2px;
        border-width:0;
        background: #EEEEEE;
    }

}


.cdk-virtual-scroll-content-wrapper{
    display: grid;
}
  

.json{
    margin-left: 15px;
}




app-profile, app-drops-plans{
    padding: 0px !important;
}

app-not-found{
    display: grid;
    background-color: rgba(120, 175, 248, 0.4) !important;
    backdrop-filter: blur(10px)
}




.input-area{
    display: grid;
    row-gap: 5px;
    align-items: center;

    *{
        line-height: 22px;
        font-size: 18px;
    }

    span{
        font-weight: 500;
    }

    svg{
        justify-self: end;

        path{
            transition: .3s;
            pointer-events: none;
        }

        &:hover path{
            fill: #78AFF8
        }
    }

    input{
        grid-column: 1/3;
        height: 50px;
        width: 210px;
        background-color: #EDEDED;
        border-radius: 10px;

        text-align: center;
        font-weight: 400;
    }
}



.inp-btm-border{
    border: none;
    background: none;
    border-bottom: 2px solid #B9B9B9;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #3D3D3D;
    height: 25px;

    &::placeholder{
        color: #B9B9B9;
    }
}



.popup{
    display: grid;
    padding: 30px 40px;
    row-gap: 15px;
    z-index: 10;
    width: 415px;
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid $primary-color;
    border-radius: 15px;
    background-color: #FFFFFF;
    
    h3{
        font-size: 20px;
        font-weight: 600;
    }

    form{
        display: grid;
        row-gap: 10px;

        button{
            @extend .standart-btn;
            margin-top: 30px;
            height: 40px;
            font-weight: 400px;
            font-size: 18px;
            line-height: 16px;
            border-radius: 10px;
        }

        > label{
            font-size: 18px;
            font-weight: 500;
            line-height: 15px;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: auto 1fr;
            column-gap: 15px;
            align-items: end;

            &.select-label{
                align-items: center;
            }

            input{
                @extend .inp-btm-border;
            }

            select{
                @extend .inp-btm-border;
                border: 1px solid #3D3D3D;
                border-radius: 5px;
                text-align: center;
                text-align-last: center;
                -moz-text-align-last: center;
                height: 30px;
            }
        }
    }

    app-popup-message{
        position: absolute;
        bottom: 5px;

        left: 50%;
        transform: translate(-50%, 0%);
    }


    #closePopup{
        position: absolute;
        top: 20px;
        right: 25px;
    }
}


app-licenses .cdk-virtual-scroll-content-wrapper{
    min-height: 100%;
}