.overlay {
  max-height: 100vh;
  overflow: auto;
}

.popup {
  max-width: 720px;
  width: 100%;
  row-gap: 24px;

  margin: 25px 0px;
  top: 0px;

  &__head {
    align-items: start;
  }
}

.user {
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
  align-items: center;
  justify-content: start;

  &__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }
  }
}
