
<div class="input-label" [ngClass]="{'extra': type == 'color' || type == 'file'}" [ngSwitch]="type" [ngStyle]="isRow ? { 'grid-auto-flow': 'column', 'align-items': 'center', 'column-gap': '15px' } : {}">
    <label for="{{label}}"> {{ label }} </label>

    <ng-content select=[inside]></ng-content>

    <ng-template ngSwitchCase="input">
        <input id='{{label}}' [(ngModel)]="value" class="profile-inp" placeholder="{{placeholder}}" (ngModelChange)="onNewValue()" [disabled]="isDisabled">
    </ng-template>


    <ng-template ngSwitchCase="textarea">
        <textarea id='{{label}}' [(ngModel)]="value" class="profile-inp" (ngModelChange)="onNewValue()"> </textarea>
    </ng-template>


    <ng-template ngSwitchCase="radio">
        <div class="radios profile-inp">
    
            <ng-template ngFor let-radio [ngForOf]="radios">
                <label>
                    <input type="radio" name="{{ label }}"  value="{{radio.value}}" [(ngModel)]="value" (ngModelChange)="onNewValue()">
                    {{ radio.label }}
                </label>
    
    
            </ng-template>
    
        </div>
    </ng-template>

    <ng-template ngSwitchCase="color">
        <input type="color" name="" class="profile-inp" id="{{label}}" [(ngModel)]="value" (ngModelChange)="onNewValue()">
        <button class="rec-big-btn outline-primary" (click)="onReset()" title="Default value">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M13 26C20.1678 26 26 20.1684 26 13C26 9.52466 24.6485 6.25958 22.1943 3.80568C19.7399 1.35152 16.4753 0 13 0C5.83164 0 0 5.83164 0 13C0 16.4753 1.35152 19.7404 3.80568 22.1943C6.25958 24.6485 9.52466 26 13 26ZM13 23.8333C10.4683 23.8333 8.07078 22.9727 6.14136 21.3905L21.3905 6.14136C22.9727 8.07078 23.8333 10.4683 23.8333 13C23.8333 18.9734 18.9734 23.8333 13 23.8333ZM13 2.16667C15.5311 2.16667 17.9292 3.0273 19.8581 4.60946L4.60946 19.8586C3.0273 17.9292 2.16667 15.5317 2.16667 13C2.16667 7.02659 7.02659 2.16667 13 2.16667Z" fill="#78AFF8"/>
            </svg>
        </button>
    </ng-template>

    <ng-template ngSwitchCase="checkbox">
        <input type="checkbox" id="{{label}}" [(ngModel)]="value" (ngModelChange)="onNewValue()">
        <label class="switcher" for="{{label}}">
            <span class="slider"></span>
        </label>
    </ng-template>


    <ng-template ngSwitchCase="file">
        <input type="file" id="{{label}}" accept="image/jpeg,image/png,image/jpg" (change)="onAddFile($event)">
        <label class="upload pointer profile-inp" for="{{label}}"> <span>upload</span> </label>
        <button class="rec-big-btn outline-primary" (click)="onReset()" title="Default value">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M13 26C20.1678 26 26 20.1684 26 13C26 9.52466 24.6485 6.25958 22.1943 3.80568C19.7399 1.35152 16.4753 0 13 0C5.83164 0 0 5.83164 0 13C0 16.4753 1.35152 19.7404 3.80568 22.1943C6.25958 24.6485 9.52466 26 13 26ZM13 23.8333C10.4683 23.8333 8.07078 22.9727 6.14136 21.3905L21.3905 6.14136C22.9727 8.07078 23.8333 10.4683 23.8333 13C23.8333 18.9734 18.9734 23.8333 13 23.8333ZM13 2.16667C15.5311 2.16667 17.9292 3.0273 19.8581 4.60946L4.60946 19.8586C3.0273 17.9292 2.16667 15.5317 2.16667 13C2.16667 7.02659 7.02659 2.16667 13 2.16667Z" fill="#78AFF8"/>
            </svg>
        </button>
    </ng-template>

</div>