<div class="account">
    
    <app-side-bar (changePageName)="pageName = $event.pageName; dataShow = $event.dataShow"></app-side-bar>
    
    <div class="content-in">

        <app-page-name [pageName]="pageName" [isDataShow]="dataShow"></app-page-name>
    
        <router-outlet></router-outlet>
    
    </div>

</div>


<ngx-spinner
*ngIf="firstLoad"
type="ball-clip-rotate"
size="small"
zIndex='1000000'
[fullScreen]="true"
class="absolute"
>
<div class="loading">
    <img src="/assets/img/logo/cactusweb_logo.svg" alt="CactusManager">
    <p>Loading...</p>
</div>
</ngx-spinner>