div{
    width: 200px;
    height: 200px;
    
    justify-self: center;
    
    border-radius: 50%;
    background-color: #F4F4F4;
    position: relative;

    &.avatar{
        display: grid;
        align-items: center;
        padding: 10px;

        label{
            height: 50px;
            position: static;
            transform: none;
            width: auto;
            opacity: 1;
            pointer-events: initial;
        }
    }

    img{
        transition: .4s;
        width: 100%;
        border-radius: inherit;
    }

    label{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 40px);
        opacity: 0;
        pointer-events: none;
        transition: .4s;
    }

    &:hover label{
        opacity: 1;
        pointer-events: visible;
    }

    &:hover img{
        background: rgba(120, 175, 248, 0.4);
        filter: blur(5px)
    }
}