*{
    font-size: 18px;
    font-weight: 500;
}

.standart-input{

    padding: 0;
    background-color: #EDEDED;
    border: none;
    font-weight: 400;
    text-align: center;   
    height: 40px;
    border-radius: 10px;
}

#license-key{
    position: relative;
    grid-column: 1/3;

    .standart-input{
        padding-right: 50px;
    }

    button{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        right: 0px;
        bottom: 0px;
        position: absolute;
        background: white;
        &:hover{
            background: rgba(120, 175, 248, 0.3);
        }
    }
}


.popup{
    width: auto;
    // grid-template-columns: repeat(2, 190px);
    grid-template-columns: 1fr 1fr;
    padding: 135px 45px 40px;
    column-gap: 30px;
    width: 900px;
    // > :last-child{
    //     grid-column: 1/3;
    // }
}

.popup > div:nth-child(3), .popup > div:nth-child(4){
    display: grid;
    row-gap: 15px;
    column-gap: 30px;
}

.popup > div:nth-child(4){
    .row{
        display: grid;
        grid-template-columns: 1fr 113px;
        column-gap: 15px;
        >:last-child{
            align-self: end;
        }
    }
}

.dis-info{
    display: grid;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translate(-50%, 0);

    .avatar{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background-color: #375987;

        img{
            border-radius: inherit;
            width: inherit;
            height: inherit;
        }
    }

    p{
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }
}


.devices{
    max-height: 120px;
    height: auto;
    min-height: 40px;
    overflow: auto;
    display: grid;
    row-gap: 7px;
    padding-left: 10px;
    &__item{
        overflow: auto;
        text-overflow: ellipsis;
        font-size: 16px;

    }
}