<div class="content">

    <div class="header">
        <h3>Plans</h3>
        <button class="adding-btn">
            <span class="plus">
                <img src="/assets/img/icons/plus.svg">
            </span>
            <span class="text">Add new plan</span>
        </button>
    </div>

    <span class="hr"></span>

    <div class="plans">

        <cdk-virtual-scroll-viewport class="custom-scroll" itemSize="65"> 
            <div class="plan" *cdkVirtualFor="let plan of plans">
                <div class="data">
                    <div> {{ plan.name }} </div>
                </div>
                <button class="rec-small-btn outline-danger">d</button>

            </div>
        </cdk-virtual-scroll-viewport>
    </div>

</div>