@import '/src/environments/environment.scss';


app-auth{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and ( max-width: $tab-size ) {
        grid-template-columns: auto;
    }

    .logo-wrapper{
        display: grid;
        place-items: center;
        @media screen and ( max-width: $tab-size) {
            display: none;
        }
    }
    
    .form-wrapper{
        background-color: #fff;
    
        display: grid;
        align-items: center;
    
        position: relative;
        padding: 15px 20px;
    }
    
    app-social-links{
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    
    
    .auth-form{
        display: grid;
        row-gap: 16px;
        justify-self: center;
        
        max-width: 360px;
        width: 100%;
        
        &__title{
            margin-bottom: 16px;
            justify-self: center;
            font-size: 32px;
            font-weight: 600;
        }
    
        &__fieldset{
            display: grid;
            row-gap: 8px;
        }
    
        &__help-info{
            font-size: 14px;
            color: $secondary-color;
            text-align: center;
            &--left{
                text-align: end;
            }
        }

        &__link{
            font-size: 14px;
            color: $primary-color;
            &:hover{
                text-decoration: underline;
            }
        }
    
        input:not(:first-child){
            margin-top: 8px;
        }
    }

    .form-control{
        height: 46px;
    }

    .btn--primary{
        height: 48px;
        font-size: 14px;
    }
}