.error{
    display: grid;
    row-gap: 100px;
    place-items: center;
    place-self: center;
}


.info{
    display: grid;
    place-items: center;

    *{
        color: white;
    }

    .error-num{
        font-weight: 800;
        font-size: 144px;
    }
    
    .error-message{
        font-size: 48px;
        font-weight: 600;
    }
}


a.logo{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    align-items: center;

    position: absolute;
    top: 50px;
    left: 60px;
    img{
        height: 60px;
    }
}
.cactus-name{
    line-height: 31px;
    font-size: 36px;
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;

    &:hover{
        background-color: rgba(255, 255, 255, 0.35);
    }
}