<div class="artboard" (click)="onClose.emit()"></div>

<div class="popup">

    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" (click)="onClose.emit()" class="pointer" id="closePopup">
        <path d="M1 13L13 1M1 1L13 13" stroke="#3D3D3D" stroke-width="2" stroke-linecap="round"/>
    </svg>

    <h3>
        <div *ngIf="viewingPlan; then planName else newPlan"></div>
        <ng-template #planName>
            {{ viewingPlan.name }}
        </ng-template>
        <ng-template #newPlan>
            New plan
        </ng-template>
    </h3>

    <form [formGroup]="formPlan" (ngSubmit)="onAddPlan()">

        <label>
            Name: 
            <input type="text" placeholder="monthly-1000" formControlName="name">
        </label>

        <label class="select-label">
            Type:
            <select formControlName="license_status">
                <option value="renewal">renewal</option>
                <option value="lifetime">lifetime</option>
            </select>
        </label>

        <label *ngIf="formPlan.value.license_status == 'renewal'">
            Price:
            <input type="number" placeholder="1000" formControlName="renewal_price" >
        </label>

        <div>
            <app-roles-choosing (changeRoles)="onChangeRoles($event)" [viewRoles]="this.viewingPlan?.roles || []" [onlyView]="viewingPlan ? true : false"></app-roles-choosing>
        </div>
        
        <label class="activations">
            Activations:
            <input type="number" placeholder="Number" formControlName="activations">
            <div class="input">
                <input type="checkbox" [(ngModel)]="infinityActivating" [ngModelOptions]="{standalone: true}" (ngModelChange)="onInfinity()" id="infinity"> <label for="infinity" class="pointer">8</label>
            </div>
        </label>

        <label class="select-label">
            Unbind:
            <select formControlName="unbindable">
                <option [value]="true">unbindable</option>
                <option [value]="false">non-unbindable</option>
            </select>
        </label>

        <button *ngIf="!viewingPlan">Create</button>


        <app-popup-message [message]="message" [isError]="isError"></app-popup-message>

    </form>

</div>