<div class="artboard" (click)="onClose.emit()"></div>

<div class="popup">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" (click)="onClose.emit()" class="pointer" id="closePopup">
        <path d="M1 13L13 1M1 1L13 13" stroke="#3D3D3D" stroke-width="2" stroke-linecap="round"/>
    </svg>

    <h3>New drop</h3>
    
    <form [formGroup]="dropForm" (ngSubmit)="onAddDrop()">

        <label>
            Password:
            <input type="text" placeholder="best-restock" formControlName="password">
        </label>

        <label for="">
            Date:
            <input type="datetime-local" placeholder="DD.MM.YYYY HH:MM" formControlName="start_at">
        </label>
        
        <label>
            Stock:
            <input type="number" placeholder="10" formControlName="quantity">
        </label>
        
        <label>
            Price:
            <input type="number" placeholder="4000" formControlName="price">
        </label>

        
        <label class="select-label">
            Plan:
            <select formControlName="plan">
                <ng-template ngFor let-plan [ngForOf]="plans">
                    <option value="{{plan.id}}"> {{ plan.name }} </option>
                </ng-template>
            </select>
        </label>

        <button>Create</button>

        <app-popup-message [message]="message" [isError]="isError"></app-popup-message>
        

    </form>

</div>