<!-- <div [ngClass]="{ 'avatar': !avatar }">

    <ng-template [ngIf]="avatar">
        <img [src]="avatar" alt="logo">
    </ng-template>

    <label class="standart-btn pointer" for="avatar">upload</label>
    <input type="file" class="hidden" id="avatar" accept=".jpg, .png" (change)="onAddFile($event)">

</div> -->


<label for="avatar" class="form-control">
    <span class="placeholder">
        Press to upload
    </span>
</label>
<input type="file" hidden id="avatar" accept=".jpg, .png" (change)="onAddFile($event)">
