<div class="row log" >
    <div class="date">
        <span>{{ log.when | date:'dd.MM' }}</span>
        <br>
        {{ log.when | date:'hh:mmaa' }}


    </div>
    <div class="row inner-block">
        <div class="user">
            <div *ngIf="log.user?.avatar || log.who?.avatar; then avatar else circle"></div>
            <ng-template #avatar>
                <img [src]="log.user?.avatar || log.who?.avatar" alt="" class="circle">
            </ng-template>
            <ng-template #circle>
                <div class="circle"></div>
            </ng-template>
            {{ log.who?.name }}
        </div>
        <div class="action">
            <span class="indicator"
                [ngClass]="{
                    'danger': log.action == 'deleted' || log.action == 'expired',
                    'warning': log.action == 'unbind',
                    'success': log.action == 'bind' || log.action == 'purchase' || log.action == 'renew',
                    'primary': log.action == 'generated'
                }"
            >
                
            </span>
            {{ log.action }}
        </div>

        <div class="license">
            {{ log.key }}
        </div>
    </div>

</div>
