@import '/src/environments/environment.scss';

.window{
    grid-template-columns: auto auto 1fr;
    column-gap: 8px;
}


#btn-update{
    width: 128px;
    height: 40px;
    color: $primary-color;
    font-weight: 600;

    &:hover{
        color: $primary-hover-color;
    }
}