
div.header{
    
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 50px;
    align-items: end;
}

div.header>*{display: grid; align-content: center; align-items: center;}

.data{ 
    font-weight: 500; 
    font-size: 24px; 
    line-height: 24px;
    margin-bottom: 4px;
    /* align-content: end; */
    /* align-self: end; */
}


.user-name{
    font-size: 24px;
    font-weight: 600;
}