<fieldset class="window__body" [formGroup]="form">
    
    <div class="inp-wrapper">
        <label for="merchant-id" class="inp-wrapper__label">Merchant id</label>
        <input type="text" id="merchant-id" formControlName="merchant_id" class="form-control" placeholder="Id" autocomplete="off">
    </div>
    
    <div class="inp-wrapper">
        <label for="merchant-username" class="inp-wrapper__label">Username</label>
        <input type="text" id="merchant-username" formControlName="merchant_username" class="form-control" placeholder="Merchant username" autocomplete="off">
    </div>

    <div class="inp-wrapper">
        <label for="merchant-password" class="inp-wrapper__label">Password</label>
        <input type="text" id="merchant-password" formControlName="merchant_password" class="form-control" placeholder="Merchant password" autocomplete="off">
    </div>

</fieldset>