<form class="auth-form" [formGroup]="registrForm" (ngSubmit)="onRegistr()">
    <h1 class="auth-form__title">Registration</h1>

    <fieldset class="auth-form__fieldset" [disabled]="loading">
        <input type="text"  class="form-control" formControlName="name" placeholder="Organization name">
        <input type="email"  class="form-control" formControlName="email" placeholder="E-mail" autocomplete="email">
        <input type="password" class="form-control" formControlName="password" placeholder="Password" autocomplete="current-password">
        <input type="text"  class="form-control" formControlName="key" placeholder="Register key" autocomplete="off">

        
        <p class="auth-form__help-info auth-form__help-info--left">
            Don’t have the register key? <a href="" class="auth-form__link">Contact us</a>
        </p>
    </fieldset>

    
    <button class="btn--primary" [disabled]="loading">
        <btn-loader text="Sign Up" [isSpinner]="loading"></btn-loader>
    </button>

    <p class="auth-form__help-info">Already have an account? <a routerLink="../login" class="auth-form__link">Sign in</a></p>
</form>