<div class="artboard" (click)="onClose.emit()"></div>

<div class="popup">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" (click)="onClose.emit()" class="pointer" id="closePopup">
        <path d="M1 13L13 1M1 1L13 13" stroke="#3D3D3D" stroke-width="2" stroke-linecap="round"/>
    </svg>

    <h3>New drop</h3>
    
    <form>

        <label>
            Password:
            <input type="text" placeholder="first-restock">
        </label>

        <label for="">
            Date:
            <input type="datetime-local" placeholder="DD.MM.YYYY HH:MM">
        </label>
        
        <label>
            Stock:
            <input type="text" placeholder="10">
        </label>
        
        <label>
            Price:
            <input type="text" placeholder="4000">
        </label>
        
        <label class="select-label">
            Plan:
            <select>
                <ng-template ngFor let-plan [ngForOf]="plans">
                    <option value="{{plan.id}}"> {{ plan.name }} </option>
                </ng-template>
            </select>
        </label>

        <button>Create</button>

        <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>

    </form>

</div>