<form  class="new-key" [formGroup]="dropForm" (ngSubmit)="onAddDrop()">
    <span class="head">
        <h3 >New drop</h3>
        <img src="/assets/img/icons/plus.svg" alt="close" class="pointer" (click)="onClose()">
    </span>
    
    <div class="data">
<!-- 
        <div class="type">
            <h4>Type:</h4>
            <div class="checkbox-1-2">
                <input type="checkbox" name="status" id="isUnbindable" value="renewal" >
                <label for="isUnbindable" class="pointer">Unbindable</label>
            </div>
        </div> -->

        <div class="nickname">
            <h4>Password:</h4>
            <input type="text" id="nickname" autocomplete="off" placeholder="cactus-restock" formControlName="password">
        </div>

        <div class="renew-date">
            <h4>Date and time:</h4>
            <input type="datetime-local" name="date" id="date" formControlName="time">
        </div>


        <div class="activate-quantity">
            <h4>Activations quantity:</h4>
            <input type="text" placeholder="Number" formControlName="quantity">
            <div class="input">
                <input type="checkbox" id="infinity"> <label for="infinity" class="pointer">8</label>
            </div>
        </div>
        

        <div class="activate-quantity">
            <h4>Number of slots:</h4>
            <input type="text" placeholder="Number" formControlName="licenseQuantity">
        </div>
        <div class="activate-quantity">
            <h4>Price:</h4>
            <input type="text" placeholder="Number" formControlName="price">
        </div>

        <div class="">
            <h4>Roles id:</h4>
            <input type="text" placeholder="id1, id2, id3" [(ngModel)]="rolesString" [ngModelOptions]="{standalone: true}">
        </div>
        


        <div class="relative">
            <button class="standart-btn border-btn">Generate</button>
            <span class="error" *ngIf="errorMessage"> {{ errorMessage }} </span>
            <span class="success" *ngIf="successMessage"> {{ successMessage }} </span>
        </div>

    </div>

</form>
<div class="artboard blur dark"  (click)="onClose()"></div>