<app-header
    (onFIlterChange)="pipeData = $event"
></app-header>

<div class="window">
    <table class="table-primary">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
                <th>License key</th>
            </tr>
        </thead>
    </table>

    
    <span class="table-primary-hr"></span>
    
    <cdk-virtual-scroll-viewport class="custom-scroll" itemSize="46"> 
        <table class="table-primary">
            <app-log-row *cdkVirtualFor="let log of ((logs|async) || [])
                | search : pipeParams.search : pipeData.search
                | filter : pipeParams.filter : pipeData.filter
                , let i = index, trackBy: trackByFn
            " [log]="log"></app-log-row>
        </table>
    </cdk-virtual-scroll-viewport>
</div>

