<div class="window">
  <h3 class="window__title">General statistics</h3>

  <div class="window__indicators">
    <div class="window__indicator indicator">
      <p class="indicator__label">Average license cost</p>
      <span
        class="indicator__value"
        [innerHTML]="
          stats?.avg_license_cost || 0 | csdCurrency : stats?.currency || 'USD'
        "
      >
      </span>
    </div>

    <div class="window__indicator indicator">
      <p class="indicator__label">Estimated monthly profit</p>
      <span
        class="indicator__value"
        [innerHTML]="
          stats?.expected_income || 0 | csdCurrency : stats?.currency || 'USD'
        "
      ></span>
    </div>
  </div>
</div>
