@import "/src/environments/environment.scss";

.spinner-wrapper {
  height: 300px;
}

.control-wrapper {
  display: grid;
  row-gap: 4px;
  span {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}

.row {
  gap: 16px;
}

form {
  display: grid;
  row-gap: 12px;
}

textarea {
  height: 78px;
}
