@import '/src/environments/environment.scss';

.log{
    grid-template-columns: 125px 0.4fr 200px 115px;
    justify-content: space-between;
    margin-bottom: 12px;

    &:hover{
        background-color: rgba($color: $primary-color, $alpha: 0.07);
    }

    &__timestamp{
        padding-left: 28px;
    }

    &__license-copy{
        cursor: pointer;

        svg{
            justify-self: end;
        }

        &:hover svg path{
            fill: $primary-color;
        }
    }

    &__action{
        display: grid;
        justify-content: start;
    }

}


.timestamp{
    display: grid;
    position: relative;

    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0, -50%);
        background-size: cover;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.33366 10.0002C3.33366 8.23205 4.03604 6.53627 5.28628 5.28597C6.53652 4.03566 8.23222 3.33325 10.0003 3.33325C11.7684 3.33325 13.4641 4.03566 14.7144 5.28597C15.9646 6.53627 16.667 8.23205 16.667 10.0002C16.667 11.7684 15.9646 13.4642 14.7144 14.7145C13.4641 15.9648 11.7684 16.6672 10.0003 16.6672C8.23222 16.6672 6.53652 15.9648 5.28628 14.7145C4.03604 13.4642 3.33366 11.7684 3.33366 10.0002ZM10.0003 1.6665C5.39783 1.6665 1.66699 5.39752 1.66699 10.0002C1.66699 14.603 5.39783 18.334 10.0003 18.334C14.6028 18.334 18.3337 14.603 18.3337 10.0002C18.3337 5.39752 14.6028 1.6665 10.0003 1.6665ZM10.8337 5C10.8337 4.77897 10.7459 4.567 10.5896 4.41072C10.4333 4.25443 10.2213 4.16663 10.0003 4.16663C9.77931 4.16663 9.56735 4.25443 9.41107 4.41072C9.25479 4.567 9.16699 4.77897 9.16699 5V10.0002C9.16704 10.2212 9.25487 10.4332 9.41116 10.5894L11.9112 13.0896C12.0683 13.2414 12.2788 13.3254 12.4973 13.3235C12.7158 13.3216 12.9248 13.2339 13.0793 13.0794C13.2338 12.9249 13.3215 12.7159 13.3234 12.4974C13.3253 12.2789 13.2413 12.0683 13.0895 11.9112L10.8337 9.65523V5Z' fill='%23A2ACD2'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
    }

    *{
        font-weight: 400;
    }

    &__date{        
        font-size: 14px;
        line-height: 17px;
    }

    &__time{
        font-size: 12px;
        line-height: 15px;
    }
}

.action{
    padding: 4px 12px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    column-gap: 4px;

    &__info{
        display: grid;
        align-items: center;
    }

    &--pointer{
        cursor: pointer;
    }

    &--danger{
        background-color: rgba($color: $err-color, $alpha: .15);
    }

    &--warning{
        background-color: rgba($color: $warning-color, $alpha: .15);
    }

    &--success{
        background-color: rgba($color: $success-color, $alpha: .15);
    }

    &--primary{
        background-color: rgba($color: $primary-color, $alpha: .15);
    }
}


.user{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    column-gap: 8px;

    &__avatar{
        height: 32px;
        width: 32px;
        border-radius: 50%;
    
        img{
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
    }

    &__name{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}