.table{
    margin-top: 5px;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.header{
    padding: 0px 20px 0px 115px;
    .row{
        grid-template-columns: 1fr 0.3fr 0.6fr;
        padding: 15px 20px;
        > :last-child{
            justify-self: center;
        }
    }

    *{
        font-weight: 500;
        font-size: 18px;
    }
}

.row{
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    
}

