:host {
  @apply tw-grid;
}

.window {
  @apply tw-grid tw-gap-3;
  &_disabled {
    @apply tw-pointer-events-none tw-opacity-40;
    transition: 0.2s;
  }

  &__header {
    @apply tw-grid tw-grid-flow-col tw-justify-start tw-gap-2 tw-items-center;
  }
}

h4 {
  @apply tw-font-semibold;
}

.inp-wrapper {
  grid-template-columns: 132px 1fr;
  &__label {
    @apply tw-whitespace-nowrap tw-max-w-none;
  }
}

form {
  @apply tw-grid tw-gap-6 tw-items-start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}

.enbaled-switcher {
  @apply tw-p-2 tw-w-48;
}

.general {
  @apply tw-absolute tw-top-7 tw-left-40 tw-gap-6;
}

textarea.form-control {
  @apply tw-py-2 #{!important};
}

mat-icon {
  @apply tw-text-lg tw-leading-5 tw-h-5 tw-cursor-pointer;
}
