

svg.edit:hover path{
    fill: #78B0F8;
}

svg.delete:hover path{
    fill: #F65151;
}


svg.info{
    margin-left: 6px;
    &:hover path{
        fill: #78D47B;
    }
}


.content{
    grid-template-rows: auto auto 1fr;
}

.header{
    grid-template-columns: auto 1fr auto;
    justify-items: end;
}

.checkboxes{display: grid; grid-template-columns: auto auto; column-gap: 25px;}

.keys{
    padding: 0px 30px;
    padding-right: 25px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 15px;
}


table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

thead tr{
    padding-right: 15px;
    margin: 0;
    border-bottom: 1px solid #898988;

    th{
        text-align: start;
        font-size: 18px; 
        font-weight: 600;
    }
}


tr{
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: auto 12% 12% 10% 12% 11% 48px;
    column-gap: 5px;
    margin-right: 10px;
}


// td{display: grid; align-items: center;}


app-license-gen{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

td{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: max-content;
}

td.action{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    place-items: center;
    width: 46px;
}

td.info{
    padding-left: 6px;
}

td.key svg{
    margin-left: 10px;

    &:hover path{
        fill: #78AFF8;
    }
}

cdk-virtual-scroll-viewport tr{
    margin-bottom: 5px;

}

.infinity{
    display: grid;
    align-items: center;
    justify-items: start;
    padding-left: 5px;
}
.infinity span{
    transform: rotate(90deg);
    display: grid;
    place-items: center;
}