<app-profile-input
    label="Referral system" type="checkbox"
    [value]="refSettings?.enabled" (newValue)="refSettings.enabled = $event; onChangeData.emit(refSettings)"
    [isRow]="true"
>
</app-profile-input>


<div class="row">
    <div class="row inp-wrapper">
        <label for="ref-price">Price:</label>
        <input type="number" id="ref-price" class="inp-primary" required [(ngModel)]="refSettings.price" (ngModelChange)="onChangeData.emit(refSettings)">
    </div>
    <div class="row inp-wrapper">
        <label for="ref-plan">Plan:</label>
        <select type="text" id="ref-plan" class="inp-primary" required [(ngModel)]="refSettings.plan" (ngModelChange)="onChangeData.emit(refSettings)">
            <!-- <ng-template [ngIf]="plans"> -->
                <option selected value="" disabled hidden>Choose plan</option>
                <option *ngFor="let plan of plans" [value]="plan.id">{{plan.name}}</option>
            <!-- </ng-template> -->
        </select>
    </div>
</div>