<div class="content">

    
    <app-profile-input
        label="Server ID" type="input" value="{{settings?.discord?.id}}"
        (newValue)="settings.discord.id = $event" placeholder="ID"
    ></app-profile-input>
    
    <app-profile-input
        label="Tinkoff Terminal Key" type="input" value="{{settings?.tinkoff?.terminal_key}}"
        (newValue)="settings.tinkoff.terminal_key = $event" placeholder="Key" [isDisabled]="true"
    ></app-profile-input>

    <app-profile-input
        label="Tinkoff Payment Password" type="input" value="{{settings?.tinkoff?.password}}"
        (newValue)="settings.tinkoff.password = $event" placeholder="Password" [isDisabled]="true"
    ></app-profile-input>

    
    <app-profile-input 
        label="Currency" type="radio" 
        [radios]=" [ {value: 'RUB', label: 'RUB'}, {value: 'EUR', label: 'EUR'}, {value: 'USD', label: 'USD'} ] "
        value="{{settings?.tinkoff?.currency}}" (newValue)="settings.tinkoff.currency = $event"
    ></app-profile-input>

    
    <app-profile-input
        label="Website link" type="input" placeholder="https://cactussoft.io" 
        value="{{settings?.site_url}}" (newValue)="settings.site_url = $event"
    ></app-profile-input>

    <app-profile-input
        label="Kick member upon expiration (after 3 days)" type="checkbox"
        [value]="settings?.kick" (newValue)="settings.kick = $event"
    >
    </app-profile-input>

    <div>
        <label>Discord bot</label>
        <a 
            class="standart-btn"
            href="https://discord.com/api/oauth2/authorize?client_id=809535097157451807&permissions=268435459&redirect_uri=http%3A%2F%2Fapi.cactusweb.io%2Fapi%2Fv1%2Fuser%2Fauth%2Ftoken&scope=bot" target="_blank">
            Invite the bot
        </a>

    </div>

    <button class="standart-btn" (click)="putSettings()">
        Save
    </button>

    <a href="https://discord.gg/GkFzqtMxfW" id="support" target="_blank">
        Support
    </a>
    

    <!-- currency: "EUR"
description: "The best tool-group"
email: "sergei@mail.ru"
guildId: "819287985173692436"
links: [{name: "www.youtube.com", link: "https://www.youtube.com/watch?v=4W2Ulbis_SE"}]
name: "123"
price: 1000
region: "EU"
renewal: []
secret_key: "test_ntT6Iftn41twOXy5VeTLE0KtGdfDVzOaxUcgWz_e0gI"
shop_id: "793729" -->


    <!-- <a class="blue-btn" id="invite-bot" href="https://discord.com/api/oauth2/authorize?client_id=809535097157451807&permissions=268435459&redirect_uri=http%3A%2F%2Fapi.cactusweb.io%2Fapi%2Fv1%2Fuser%2Fauth%2Ftoken&scope=bot">Invite bot</a> -->



</div>


<ngx-spinner
type="ball-clip-rotate"
size="large"
zIndex='1'
[fullScreen]="false"
></ngx-spinner>