
.content{
    grid-template-rows: auto auto 1fr;
}

.header{
    grid-template-columns: auto 1fr auto;
    justify-items: end;
}



.sort{

    border: 1px solid #3D3D3D; 
    border-radius: 12px; 
    padding: 0px 25px 0px 10px; 
    height: 30px; width: 160px; 
    box-sizing: border-box;
    align-self: center;
}


.search{
    position: relative; 
    display: grid; 
    align-items: center;

    >input{
        @extend .sort;
    }

    >img{
        position: absolute;
        right: 10px;
    }

}


.select{
    width: 160px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;

    border: 1px solid #3D3D3D;
    border-radius: 12px;
    
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    padding: 0px 10px;
    cursor: pointer;

    position: relative;
    transition: .4s;

    svg{
        transition: .4s;
    }

    &:hover{
        > svg{
            transform: rotate(-180deg);
        }

        border-radius: 12px 12px 0px 0px;
        .options{
            transform: translate(0 , 100%) scale(1, 1);
        }

    } 

    .options{
        transform: translate(0 , 100%) scale(1, 0);
    }


}

.select .options{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform-origin: top;

    width: 100%;

    border: 1px solid #3D3D3D;
    border-radius: 0px 0px 12px 12px;

    background-color: #F2F2F2;
    z-index: 2;
    transition: .4s;
    overflow: hidden;

    div{
        height: 27px;
        font-size: 14px;
        line-height: 19px;
        color: #3D3D3D;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        transition: .4s;
        padding: 0px 10px;

        text-transform: capitalize;

        svg{
            opacity: 0;
            transition: .4s;
        }

        &:hover, &.active{
            background-color: #E6E6E6;
        }

        &.active{
            svg{
                opacity: 1;
            }
        }
    }
}