<div class="content">

    

    <div class="header">

        <div class="checkboxes">
            <div class="checkbox-1-2">
                <input type="checkbox" name="type" id="renewal">
                <label for="renewal" class="pointer">Renewal</label>
            </div>
            <div class="checkbox-1-2">
                <input type="checkbox" name="type" id="lifetime">
                <label for="lifetime" class="pointer">Lifetime</label>
            </div>
        </div>

        <div class="search">
            <input type="text" placeholder="Search" name="search" id="search" class="search-input" autocomplete="off"  >
            <img src="/assets/img/icons/search.svg">
        </div>
    </div>

    <span class="hr grey"></span>

    <div class="logs">
        <app-audit-log-view></app-audit-log-view>
    </div>

</div>