.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and ( max-width: 780px ) {
        grid-template-columns: auto;
    }
    height: auto;
    > div:first-child{
        width: 80%;
        max-width: 450px;
        justify-self: center;
        margin: 20px 0px;
        padding: 20px 0px;
        grid-template-rows: 1fr auto;
        @media screen and (max-width: 780px)  {
            width: calc(100% - 40px);
        }
        > p{
            color: #878787;
            font-size: 14px;
            a{
                color: #3E84E6;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

h1{
    font-size: 36px;
}

.content> div{height: 100%;}

.background-cover{
    background-color: #F3F8FF;
    background-size: contain;
    align-self: stretch;
    justify-self: stretch;
    display: grid;
    place-items: center;
    img{
        width: 150px
    }
    @media screen and ( max-width: 780px ) {
        display: none !important;
    }
}

.or{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
    align-items: center;
}

.align-items-center{
    display: grid;
    align-items: center;
}

.align-items-center>div{
    display: grid;
    row-gap: 15px;
}

form{
    display: grid;
    row-gap: 15px;
}

.inputs{display: grid; row-gap: 20px;}
form span:first-child{padding-bottom: 15px;}
.input .input-error{left: 15px;}
input.ng-invalid.ng-touched{border-color: #F65151;}
/* input.ng-valid */
button:disabled{cursor: not-allowed;}
span.error{color: #F65151; font-size: 14px; position: absolute; top: -5px; left: 15px; line-height: 22px; transform: translate(0%, -50%); }

.border-btn:hover{
    border-color: #E4F0FF;
}

.linear-btn:hover{
    filter: brightness(1.1);
}



button{
    height: 50px !important;
}