<fieldset class="window__body" [formGroup]="form">
    
    <div class="inp-wrapper">
        <label for="terminal-key" class="inp-wrapper__label">Terminal key</label>
        <input type="text" id="terminal-key" formControlName="terminal_key" class="form-control" placeholder="Key" autocomplete="off">
    </div>
    
    <div class="inp-wrapper">
        <label for="payment-password" class="inp-wrapper__label">Payment password</label>
        <input type="text" id="payment-password" formControlName="password" class="form-control" placeholder="Password" autocomplete="off">
    </div>

</fieldset>