<div class="window">
    <h3 class="window__title">License statistics</h3>

    <div class="chart-wrapper">
        <div class="chart" echarts [options]="opt"></div>
        <div class="summary">
            <span class="summary__title">Total keys</span>
            <span class="summary__value">{{stats?.keys_total || 0}}</span>
        </div>
    </div>
    
    <div class="chart-indicators">
        <p class="chart-indicator chart-indicator--primary"><span>Renewal</span> <span>-</span> <span>{{stats?.renewal_keys || 0}}</span></p>
        <p class="chart-indicator chart-indicator--warning"><span>Trial-renewal</span> <span>-</span> <span>{{stats?.trial_renewal_keys || 0}}</span></p>
        <p class="chart-indicator chart-indicator--success"><span>Lifetime</span> <span>-</span> <span>{{stats?.lifetime_keys || 0}}</span></p>
        <p class="chart-indicator chart-indicator--err"><span>Trial</span> <span>-</span> <span>{{stats?.trial_keys || 0}}</span></p>
    </div>
</div>