:host{
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 16px;
    min-height: 500px;
}

.drops-wrapper{
    display: grid;
    row-gap: 1px;
    grid-template-rows: auto 1fr;
}

.window{
    position: relative;
    grid-template-rows: auto auto 1fr;
    row-gap: 12px;
}

app-plans{
    width: 100%;
    max-width: 580px;
    max-height: 340px;
}



tr{
    grid-template-columns: 125px 65px .4fr .4fr 60px 120px 64px;
    // column-gap: 90px;
    justify-content: space-between;

    th:first-child{
        padding-left: 28px;
        box-sizing: border-box;
    }

    th:nth-child(2){
        min-width: 250px;
    }
}


app-drop-form{
    min-width: 480px;
}