@import '/src/environments/environment.scss';
.window{
    position: initial;
}

.switcher-wrapper{
    padding: 12px 16px;
    background-color: rgba($color: $primary-color, $alpha: .05);
    border-radius: 8px;

    &__label{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}