@import '/src/environments/environment.scss';

:host{
    display: grid;
    grid-template-columns: 240px 1fr;

    @media screen and ( max-width: $tab-size ) {
        // grid-template-columns: 1fr;
    }
}

.content-wrapper{
    padding: 32px 24px 16px 16px;
    position: relative;
    max-height: 100vh;
    overflow: auto;
}

.content{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

app-navbar{
    margin-bottom: 16px;
    display: block;
}