@import '/src/environments/environment.scss';

:host{
    display: grid;
    position: relative;

}

input.form-control{
    padding-right: 30px;
}

button{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translate(0, -50%);


    svg, svg path{
        transition: .3s;
    }

    &:hover svg path, &:focus svg path{
        fill: $primary-color;
    }
}