<app-header 
    (onSearch)="pipeData.search = $event"
    (filterLicTypes)="pipeData.licTypesFilter = $event"
    (filterDsRoles)="pipeData.dsRolesFilter = $event"
    (onDataUpdate)="updLicenses()"
    (onOpenLicenseForm)="popupType = 'licenseForm'"
></app-header>

<div class="window licenses">
    <table class="table-primary">
        <thead>
            <tr>
                <th>
                    <th-sortable label="Nickname"
                        (onChangeSort)="pipeData.sortNickname = $event; lic.justMap()"
                    ></th-sortable>
                </th>
                <th>License key</th>
                <th>Type</th>
                <th>
                    <th-sortable label="Renewal date"
                        (onChangeSort)="pipeData.sortRenewDate = $event; lic.justMap()"
                        
                    ></th-sortable>
                </th>
                <th>Used</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
    
    <span class="table-primary-hr"></span>
    
    <cdk-virtual-scroll-viewport class="custom-scroll" itemSize="30"> 
        <table class="table-primary">
            <app-license-row *cdkVirtualFor="let license of ((licenses | async)||[])
                | search : pipeParams.search : pipeData.search
                | sort : pipeParams.sortNickname : pipeData.sortNickname
                | sort : pipeParams.sortRenewDate : pipeData.sortRenewDate
                | filter : pipeParams.filter : pipeData.licTypesFilter
                | filterDsRoles : pipeData.dsRolesFilter
                , let i = index, trackBy: trackByFn
            " 
            (onEdit)="popupType = 'licenseForm'; popupLicense = license"
            [license]="license"
            (onView)="onViewLicense(license)"
            ></app-license-row>
        </table>

    </cdk-virtual-scroll-viewport>
    
</div>



<div class="overlay" *ngIf="popupType == 'licenseViewing' && popupLicense">
    <div class="artboard" (click)="popupType = null; popupLicense = null"></div>
    <app-license-viewing style="width: 720px"
        [license]="popupLicense"
        (onClose)="popupType = null; popupLicense = null"
    ></app-license-viewing>
</div>


<div class="overlay" *ngIf="popupType == 'licenseForm'">
    <div class="artboard" (click)="popupType = null; popupLicense = null"></div>
    <app-license-form style="width: 690px"
        [license]="popupLicense"
        (onClose)="popupType = null; popupLicense = null"
        ></app-license-form>

</div>

